target/
**/out/
bin/
src-gen/
xtend-gen/
.launch/
.settings/
generated/
.classpath
.project

dist/
node_modules/
.idea
tmp
out-tsc

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.DS_Store
Thumbs.db
